@media screen and (max-width: 1150px) {
    .tools .position_bg{
        width: 37%;
    }
}

@media screen and (max-width: 925px) {
    .header_general{
        font-size: 12px;
    }

    .tools .position_bg{
        position: relative;
        height: 300px;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .header_large{
        margin-right: 25px;
    }
    
    .header_short{
        margin-right: 25px;
    }
}

@media screen and (max-width: 767px) {
    .navbar{
        display: block;
    }

    .header_template{
        font-size: 12px;
        padding: 0 4px;
    }

    .what_we_do h3{
        font-size: 30px;
    }

    .what_we_do h4{
        font-size: 20px;
    }

    .what_we_do .description h4{
        font-size: 10px;
    }

    .what_we_do .description p{
        font-size: 10px;
        line-height: 14px;
    }
}

@media screen and (max-width: 428px) {
    .main_image{
        height: calc(65vh - 83px);
    }

    .main_text_padding{
        padding: 16px 5px;
    }

    main h1{
        font-size: 44px;
    }

    .help_style{
        padding: 0 15px;
    }

    .help h2{
        font-size: 30px;
    }

    .help p{
        font-size: 18px;
    }

    .past_clients h2{
        font-size: 30px;
    }

    .past_clients p{
        font-size: 18px;
    }

    .what_we_do .description h4{
        font-size: 8px;
        line-height: 13px;
        margin-bottom: 5px;
    }

    .what_we_do .description p{
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 10px;
    }

    .read_more{
        font-size: 12px;
    }

    .what_we_do a:before{
        height: 22px;
        width: 22px;
    }
}

@media screen and (max-width: 360px) {

}