@import "header";


$main_font: 'Poppins', sans-serif;
$main_color: #000000;
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 83px;
    background-color: #181818;
}

header {
    padding: 24px 0;
    background: #181818;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header_logo {
    padding: 0 32px;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
}

.header_large {
    margin-right: 56px;
}

.header_short {
    margin-right: 32px;
}

.header_general {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
}

.header_template {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: $main_color;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px 13px 20px;
    text-decoration: none;
}

.cd-header {

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
}

@media only screen and (min-width: 768px) {
    .cd-header.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px);
    }
}

.cd-3d-nav-trigger {
    position: relative;
    float: right;
    height: 45px;
    width: 45px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    display: none;
}

.cd-marker {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 20%;
    background-color: currentColor;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: translateZ(0) rotateX(90deg);
    -moz-transform: translateZ(0) rotateX(90deg);
    -ms-transform: translateZ(0) rotateX(90deg);
    -o-transform: translateZ(0) rotateX(90deg);
    transform: translateZ(0) rotateX(90deg);
    -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    &::before {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-bottom-color: inherit;
    }
}

.nav-is-visible {
    .cd-marker {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.color-1 {
    color: #9a57bd;
}

.color-2 {
    color: #c96aa4;
}

.color-3 {
    color: #d6915e;
}

.color-4 {
    color: #5397c7;
}

.color-5 {
    color: #77cd91;
}

main {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

main.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
}

@media only screen and (min-width: 768px) {
main.nav-is-visible {
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px);
    }
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_image {
    padding-bottom: 71px;
    background-image: url(../images/bg_main.jpg);
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
}

.main_style {
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}

.main_title {
    letter-spacing: 2px;
    text-transform: uppercase;
}

main{
    h1 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
    }
}

.main_text {
    text-align: center;
    color: #C0C0C0;
}

.main_text_padding {
    font-size: 14px;
    padding: 18px 0;
}

.fixed_location {
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    li {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-left: 16px;
        &:before {
            content: "";
            display: inline-block;
            background-image: url("../images/icon12000.svg");
            width: 16px;
            height: 16px;
            margin-right: 6px;
        }
        &:nth-child(2){
            &:before {
            content: "";
            display: inline-block;
            background-image: url("../images/iconf11.svg");
            width: 16px;
            height: 16px;
            margin-right: 6px;
            }
        }
        &:nth-child(3){
        &:before {
            content: "";
            display: inline-block;
            background-image: url("../images/iconiso.svg");
            width: 32px;
            height: 16px;
            margin-right: 6px;
            }
        }
        &:last-of-type{
        &:before {
            content: "";
            display: inline-block;
            background-image: url("../images/iconlocation.svg");
            width: 10px;
            height: 16px;
            margin-right: 6px;
            }
        }
    }
}

.what_we_do {
    background-color: $main_color;
    padding-top: 113px;
    padding-bottom: 100px;
    .container {
        max-width: 1168px;
    }
    h3 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    h4 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 30px;
        text-align: center;
        color: #C0C0C0;
        margin-bottom: 42px;
    }
    article {
        max-width: 576px;
        position: relative;
        padding-bottom: 16px;
    }
    img {
        width: 100%;
        display: block;
    }
    .description {
        position: absolute;
        bottom: 30px;
        left: 30px;
        padding-right: 30px;

        h4 {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: left;
            margin-bottom: 10px;
        }
        p {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #C0C0C0;
            margin-bottom: 17px;
        }
    }
    a {
        &:before {
            content: "";
            display: inline-block;
            height: 32px;
            width: 32px;
            background-color: $main_color;
            border-radius: 14px;
            margin-right: 7px;
        }
    }
}

.frex_wrap {
    flex-wrap: wrap;
}

.read_more {
    background-color: #FFFFFF;
    border-radius: 14px;
    align-items: center;
    padding: 5px 10px 5px 4px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: $main_color;
    text-decoration: none;
    display: inline-flex;
}

.sunset {
    background-image: url(../images/bg_sunset.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    .sunset_container {
        max-width: 298px;
        margin-right: 62px;
        h4 {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #C0C0C0;
        }
    }
}

.tools {
    background-color: $main_color;
    min-height: 540px;
    position: relative;
    justify-content: left;
    .position_bg {
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        background-size: cover;
        background-image: url(../images/tools_foto.jpg);
        position: absolute;
    }
    .container {
        display: flex;
        align-items: center;
        min-height: 540px;
        box-sizing: border-box;
    }
    .tools_item {
        max-width: 540px;
        padding: 0 32px;
    }
    h3 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #C0C0C0;
        margin-bottom: 6px;
    }
    h2 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 14px;
    }
    p {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    a{
        &:before {
        content: "";
        display: inline-block;
        height: 32px;
        width: 32px;
        background-color: $main_color;
        border-radius: 14px;
        margin-right: 7px;
        }
    }
}

.check_it_out {
    background-color: #FFFFFF;
    border-radius: 14px;
    align-items: center;
    padding: 5px 10px 5px 4px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: $main_color;
    text-decoration: none;
    display: inline-flex;
}

.leaves {
    background-image: url(../images/bg_leaves.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    .leaves_container {
        max-width: 273px;
        margin-right: 87px;
        h4 {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #C0C0C0;
        }
    }
}

.past_clients {
    background-color: $main_color;
    padding-top: 113px;
    padding-bottom: 140px;
    max-height: 500px;
    .past_clients_container {
        max-width: 1168px;
        margin: auto;
        text-align: center;
    }
    h2 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
    }
    p {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #C0C0C0;
        padding-top: 15px;
        margin-bottom: 82px;
    }
}

.clients_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        max-width: 128px;
        display: inline-block;
    }
}

.owl-stage {
    display: flex;
    align-items: center;
}

.stars {
    background-image: url(../images/bg_stars.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    .stars_container {
        max-width: 241px;
        margin-right: 119px;
        h4 {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #C0C0C0;
        }
    }
}

.help {
    background-color: $main_color;
    max-height: 414px;
    padding-top: 113px;
    padding-bottom: 108px;
    text-align: center;
    h2 {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 42px;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    p {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #C0C0C0;
        margin-bottom: 22px;
    }
    a{
        &:before {
            content: "";
            display: inline-block;
            height: 32px;
            width: 32px;
            background-color: $main_color;
            border-radius: 14px;
            margin-right: 7px;
        }
    }
}

.help_style {
    max-width: 600px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.help_touch {
    background-color: #FFFFFF;
    border-radius: 14px;
    align-items: center;
    padding: 5px 10px 5px 4px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: $main_color;
    text-decoration: none;
    display: inline-flex;
}

// .faq {
//     background-color: #181818;
//     padding: 70px 0;
// }

// .faq .container {
//     margin: auto;
//     max-width: 1200px;
//     display: flex;
//     justify-content: space-between;
// }

// .faq .text {
//     max-width: 500px;
//     padding-right: 50px;
//     box-sizing: border-box;
// }

// .faq .accordion {
//     max-width: 700px;
// }

// .faq h3 {
//     font-family: $main_font;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 24px;
//     line-height: 12px;
//     color: #C0C0C0;
//     text-transform: uppercase;
//     margin-bottom: 50px;
// }

// .faq .text p {
//     font-family: $main_font;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 12px;
//     color: #C0C0C0;
// }

// .faq .ui-accordion .ui-accordion-header {
//     background: #FFFFFF;
//     border: 1px solid #E3E8EF;
//     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
//     border-radius: 8px;
//     padding: 25px 25px;
//     font-family: $main_font;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 27px;
//     color: #202939;
//     margin-bottom: 16px;
// }

// .faq .ui-accordion .ui-accordion-header.ui-state-active {
//     margin-bottom: 0px;
//     border-radius: 8px 8px 0 0;
// }

// .ui-accordion .ui-accordion-content {
//     margin-bottom: 16px;
//     border-radius: 0 0 8px 8px;
// }

// .faq .ui-accordion .ui-icon {
//     background-image: none;
//     background-position: none;
//     width: 32px;
//     height: 48px;
//     text-indent: 0px;
//     position: absolute;
//     right: 25px;
//     top: 26px;
// }

// .faq .ui-accordion .ui-icon:before {
//     font-weight: 900;
//     font-family: "Font Awesome & Free";
//     content: "\2b";
//     font-size: 32px;
//     display: inline-block;
// }

// .faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
//     transform: rotate(360deg);
//     transition: 0.5s;
// }
