

* {
    padding: 0;
    margin: 0;
}

body{
    padding-top: 83px;
}

header{
    padding: 24px 0;
    background: #181818;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header_main{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
}

.header_logo{
    padding: 0 32px;
}

.navbar{
    list-style: none;
    display: flex;
    align-items: center;
}

.header_list_large{
    margin-left: 56px;
    padding: 0
}

.header_list_short{
    margin-left: 32px;
    padding: 0;
}

.header_button_template{
    margin-left: 31px;
}

.header_list_general{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.header_list_large_size{
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_list_short_size{
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_button_template_style{
    font-size: 16px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px 13px 20px;
    text-decoration: none;
}

.main_image{
    padding-bottom: 71px;
    background-image: url(../images/bg_main.jpg);
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
}

.main_style{
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}

.main_title{
    letter-spacing: 2px;
    text-transform: uppercase;
}

main h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.main_text{
    font-size: 14px;
    text-align: center;
    color: #C0C0C0;
}

.main_text_padding{
    padding: 18px 0;
}

.fixed_location{
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}

.fixed_location li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}

.fixed_location li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon12000.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.fixed_location li:nth-child(2):before{
    content: "";
    display: inline-block;
    background-image: url("../images/iconf11.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.fixed_location li:nth-child(3):before{
    content: "";
    display: inline-block;
    background-image: url("../images/iconiso.svg");
    width: 32px;
    height: 16px;
    margin-right: 6px;
}

.fixed_location li:last-of-type:before{
    content: "";
    display: inline-block;
    background-image: url("../images/iconlocation.svg");
    width: 10px;
    height: 16px;
    margin-right: 6px;
}

.sunset{
    background-image: url(../images/bg_sunset.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.sunset .sunset_container{
    max-width: 298px;
    margin-right: 62px;
}

.sunset_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sunset_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.leaves{
    background-image: url(../images/bg_leaves.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.leaves .leaves_container{
    max-width: 273px;
    margin-right: 87px;
}

.leaves_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.leaves_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.past_clients{
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
    max-height: 500px;
}

.past_clients .past_clients_container{
    max-width: 1168px;
    margin: auto;
    text-align: center;
}

.past_clients h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.past_clients p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 15px;
    margin-bottom: 82px;
}

.clients_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients_icons a{
    max-width: 128px;
}

.stars{
    background-image: url(../images/bg_stars.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.stars .stars_container{
    max-width: 241px;
    margin-right: 119px;
}

.stars_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.stars_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.help{
    background-color: #000000;
    max-height: 414px;
    padding-top: 113px;
    padding-bottom: 108px;
    text-align: center;
}

.help_style{
    max-width: 600px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.help h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.help p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.help_touch{
    background-color: #FFFFFF;
    border-radius: 14px;
    align-items: center;
    padding: 5px 10px 5px 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    display: inline-flex;
}

.help a:before{
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #000000;
    border-radius: 14px;
    margin-right: 7px;
}